/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

nav {
  margin-top: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

#myCarousel {
    max-height: 600px; /* Ajuste la hauteur maximale selon tes besoins */
    overflow: hidden; /* Empêche le défilement vertical */
  }
  
  .carousel-inner {
    display: flex; /* Utilise une disposition flexbox */
  }
  
  .carousel img {
    width: 100%; /* Ajuste selon tes besoins */
    height: auto; /* Permet à l'image de s'ajuster proportionnellement */
    object-fit: contain; /* Assure que l'image est entièrement visible sans déformation */
    margin: 0;
    padding: 0;
  }
  
  .carousel-caption {
    flex: 1; /* Fait en sorte que la description occupe l'espace restant à droite de l'image */
    padding: 20px; /* Ajoute un espacement autour de la description */
    text-align: left; /* Alignement du texte à gauche */
  }
  


nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

section {
  margin: 20px;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Styles spécifiques à la page de la boutique */
.product-list {
    text-align: center;
  }

  .product {
    display: inline-block;
    width: 30%;
    margin: 10px;
    text-align: left;
  }

  .product img {
    max-width: 100%; /* Assure que l'image ne dépasse pas la largeur du conteneur */
    height: auto; /* Maintient le rapport d'aspect de l'image */
  }

  .product-details {
    display: inline-block;
    vertical-align: top; /* Alignement vertical en haut */
    margin-left: 10px; /* Espacement entre l'image et les détails */
  }

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  width: 30%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
}

.contact-form {
  max-width: 400px;
  margin: 0 auto;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label,
.contact-form textarea,
.contact-form input {
  margin-bottom: 10px;
}
